<!DOCTYPE html>
<html lang='en'>
<html>
  <head>
    <meta charset="utf-8" />
    <title>EC2 Data API - Help Doc</title>
  </head>
  <body bgcolor=white>

    <p>Following API endpoints are working perfectly:
    <ul>
      <li>/api/v1.0/get_data/all</a>.
      <li>/api/v1.0/get_region/[region]</a>.
      <li>/api/v1.0/get_family/[family]</a>
      <li>/api/v1.0/get_os/[os]</a>
      <li>/api/v1.0/query?date=2017-02-10</a>
      <li>/api/v1.0/query?date=2017-02-10&time=16-47-55</a>
      <li>/api/v1.0/query?date=2017-02-10&time=16-47-55&os=linux</a>
      <li>/api/v1.0/query?date=2017-02-10&time=16-47-55&os=linux&amp;region=us-east-1</a>
      <li>/api/v1.0/query?date=2017-02-10&time=16-47-55&os=linux&amp;region=us-east-1&type=m3.medium</a>
      <li>/api/v1.0/query?date=2017-02-10&time=16-47-55&os=linux&amp;region=us-east-1&type=m3.medium</a>
    </ul>

    <p>Following API endpoints - Testing Inprogress:
    <ul>
      <li>/api/v1.0/query_range?min_date=2017-02-14&max_date=2017-02-15</a>
      <li>/api/v1.0/query_range?min_date=2017-02-14&max_date=2017-02-15&min_time=02-00-00&max_time=04-00-00</a>
      <li>/api/v1.0/query_more?date=2017-02-15&amp;regions=us-east-2,us-east-1</a>
      <li>/api/v1.0/query_more?date=2017-02-15&amp;regions=us-east-2,us-east-1&types=m3.medium,m4.16xlarge</a>

  </body>
</html>