<!DOCTYPE html>
<html lang='en'>
<html>
  <head>
    <meta charset="utf-8" />
    <title>EC2 Data API - Help Doc</title>
  </head>
  <body bgcolor=white>

    <p>Following API endpoints are working perfectly:
    <ul>
      <li>/api/v1.0/get_data/all</a>.
      <li>/api/v1.0/get_region/[region]</a>.
      <li>/api/v1.0/get_family/[family]</a>
      <li>/api/v1.0/get_os/[os]</a>
      <li>/api/v1.0/query?date=2017-02-10&region=us-east-1&type=m3.medium</a>
      <li>/api/v1.0/query?date=2017-02-10</a>
      <li>/api/v1.0/query?date=2017-02-10&region=us-east-1</a>
    </ul>

  </body>
</html>